#jtrack-root {
  width: 320px;
  min-height: 244px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2147483647;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(38, 43, 51, 0.07), 0px 12px 40px rgba(38, 43, 51, 0.15);
  border-radius: 6px;
  border: none;

  transition: height 0.15s ease;
}
